
<div class="container">

  <div *ngIf="!id ;else forminfo"> 
      <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">

        <div class="form-gr oup row">
            
            
            <label for="description" class="col-sm-2 col-form-label">Description</label>  
            <div class="col-sm-10">
              <input class="form-control" formControlName="description"  [(ngModel)]="transaction.description"  placeholder="Description"/>
              <div class="alert" *ngIf="!rForm.controls['description'].valid && rForm.controls['description'].touched" > this is required </div>
            </div>

            <label for="creation_date" class="col-sm-2 col-form-label">Creation Date</label>    
            <div class="col-sm-10">
              <input class="form-control" formControlName="creation_date" [(ngModel)]="transaction.creation_date" placeholder="Now"/>
              <div class="alert" *ngIf="!rForm.controls['creation_date'].valid && rForm.controls['creation_date'].touched" > this is required </div>
            </div>

            <label for="update_date" class="col-sm-2 col-form-label">Update Date</label>    
            <div class="col-sm-10">
              <input class="form-control" formControlName="update_date" [(ngModel)]="transaction.update_date" placeholder="Now"/>
              <div class="alert" *ngIf="!rForm.controls['update_date'].valid && rForm.controls['update_date'].touched" > this is required </div>
            </div>
            
            <label for="validation_date" class="col-sm-2 col-form-label">Validation Date</label>    
            <div class="col-sm-10">
              <input class="form-control" formControlName="validation_date" [(ngModel)]="transaction.validation_date" placeholder="validation date"/>
              <div class="alert" *ngIf="!rForm.controls['validation_date'].valid && rForm.controls['validation_date'].touched" > this is required </div>
            </div>
  
            
            <label for="total_amount" class="col-sm-2 col-form-label">Total Amount</label>    
            <div class="col-sm-10">
              <input class="form-control" formControlName="total_amount" [(ngModel)]="transaction.total_amount" placeholder="total amount"/>
              <div class="alert" *ngIf="!rForm.controls['total_amount'].valid && rForm.controls['total_amount'].touched" > this is required </div>
            </div>
            
            <label for="notes" class="col-sm-2 col-form-label">Notes</label>    
            <div class="col-sm-10">
              <input class="form-control" formControlName="notes" [(ngModel)]="transaction.notes" placeholder="notes"/>
              <div class="alert" *ngIf="!rForm.controls['notes'].valid && rForm.controls['notes'].touched" > this is required </div>
            </div>
  

            <label for="transaction_type_id" class="col-sm-2 col-form-label">Type</label>  
            <div class="col-sm-10">             
              <select class="custom-select" [(ngModel)]="transaction.transaction_type_id" formControlName="transaction_type_id" >
                <option *ngFor="let type of types" class="form-control" 
                        [value]="type.id">{{type.name}}</option>                
              </select>
            </div>

            <label for="person_id" class="col-sm-2 col-form-label">Person</label>  
            <div class="col-sm-10">             
              <select class="custom-select" [(ngModel)]="transaction.person_id" formControlName="person_id" >
                <option *ngFor="let person of persons" class="form-control" 
                        [value]="person.id">{{person.full_name}}</option>                
              </select>
            </div>


            
            

            

        </div>

        <div class="form-gr oup row" *ngIf="!transaction.id">
                <label for="num_of_payments" class="col-sm-2 col-form-label">Payment(s)</label>    
                <div class="col-sm-10">
                  <input class="form-control" formControlName="num_of_payments" [(ngModel)]="transaction.num_of_payments" placeholder="Number Of Payments"/>
                  <div class="alert" *ngIf="!rForm.controls['num_of_payments'].valid && rForm.controls['num_of_payments'].touched" > this is required </div>
                </div>

                <label for="account_id_from" class="col-sm-2 col-form-label">From Account</label>  
                <div class="col-sm-10">             
                  <select class="custom-select" [(ngModel)]="transaction.account_id_from" formControlName="account_id_from" >
                    <option *ngFor="let account of accounts" class="form-control" 
                            [value]="account.id">{{account.name}}</option>                
                  </select>
                </div>

                <label for="account_id_to" class="col-sm-2 col-form-label">To Account</label>  
                <div class="col-sm-10">             
                  <select class="custom-select" [(ngModel)]="transaction.account_id_to" formControlName="account_id_to" >
                    <option *ngFor="let account of accounts" class="form-control" 
                            [value]="account.id">{{account.name}}</option>                
                  </select>
                </div>

          
        </div>

        <div class="form-gr oup row">

          <div class="btn-group row" role="group">
                  <button  class="btn btn-primary" [disabled]="!rForm.valid" routerLink="/transaction" (click)="saveTransaction(transaction)">Save</button>
                  <button  class="btn btn-danger" *ngIf="transaction.id" routerLink="/transaction" (click)="deleteTransaction(transaction.id)">Delete</button>
                
            </div>
        </div>

      </form>
  </div>

</div>
<ng-template #forminfo>
  aaa
</ng-template>  

<div class="container mt-3" *ngIf="transaction.id">
  <transaction-details></transaction-details>
</div>